.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;  
    position: relative;
    margin-top: 60px ;
    padding: 0 1rem; /* Add padding for smaller screens */
    box-sizing: border-box;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d3d3d3;
    line-height: 1.1;
    height: auto;
    text-align: center;
    font-family: wakile;
    font-weight: 300;
    text-transform: uppercase;
}

.first, .second {
    font-size: clamp(4.2rem, 8vw, 7rem); /* Responsive font size */
    font-family: wakile;
    margin: 0;
}

/* Optional spacing tweak for .second */
.second {
    margin-bottom: 25px;
}
